<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
{% for author in authors %}
    <tr>
        <td>{{ author.id }}</td>
        <td>
            <a href="show_books_by_author/{{ author.id }}">
                <span class="glyphicon glyphicon-pencil" >{{ author.name }}</span>
            </a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
</body>
</html>